@model NguyenSao_2122110145.Models.Product

@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm";
}

<h2>Chỉnh sửa sản phẩm</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Tên sản phẩm</label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Ảnh hiện tại</label>
        <br>
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" alt="Ảnh sản phẩm" class="img-thumbnail" style="max-width: 200px; height: auto;" />
        }
        else
        {
            <p>Không có ảnh</p>
        }
    </div>

    <div class="form-group mt-3">
        <label>Chọn ảnh mới (nếu muốn thay đổi)</label>
        <input type="file" name="imageFile" class="form-control-file" accept=".png,.jpg,.jpeg" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Giá</label>
        <input asp-for="Price" class="form-control" required />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Lưu thay đổi</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>
